<div class = "container">
  <h1>Ingredients For Recipes</h1>
</div>

<%= render 'form' %>
<p></p>
<%= link_to "Recipe Ingredients", recipe_ingredient_for_recipes_path(@recipe), class: "btn btn-default" %>